<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Calculator made by Eduardo Chauca Gallegos</h1>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(function(){
      $(".btn").click(function()
      {        
        var jaja=$(".btn").data('lastValue');
        console.log("value: "+ jaja);
        
      });
      
    });

    </script>

    <div class="container">


      <div class="row-fluid offset4">

        <div class="span4 well">
          <div id="calc-board">
            
            <div class="row-fluid">
              <div class="btn">7</div>
              <div class="btn">8</div>
              <div class="btn" data-last-value="9">9</div>
              <div class="btn" data-constant="BRO">(</div>
              <div class="btn" data-constant="BRC">)</div>
            </div>
            <div class="row-fluid">
              <a href="#" class="btn">4</a>
              <a href="#" class="btn">5</a>
              <a href="#" class="btn">6</a>
              <a href="#" class="btn" data-constant="MIN">-</a>
              <a href="#" class="btn" data-constant="SUM">+</a>
            </div>
            <div class="row-fluid">
              <a href="#" class="btn">1</a>
              <a href="#" class="btn">2</a>
              <a href="#" class="btn">3</a>
              <a href="#" class="btn" data-constant="DIV">/</a>
              <a href="#" class="btn" data-constant="MULT">*</a>
            </div>
            <div class="row-fluid">
              <a href="#" class="btn">.</a>
              <a href="#" class="btn">0</a>
              <a href="#" class="btn" data-constant="PROC">%</a>
              <!-- <a href="#" class="btn btn-primary" data-method="calculate">=</a> -->
            </div>
          </div>
        </div>            

      </div>

      <div class="hero-unit" id="calculator-wrapper">
      <form class="form-horizontal" method="post"> {% csrf_token %}
        <div class="row-fluid">
          <div class="span3">
            <div >
              {{ form.first }}
            </div>
          </div>
        
          <div class="span1 " style="text-align: center;">
            <div class="visible-phone">              
              {{ form.value }}
            </div>            
          </div>

          <div class="span3">  
            <div >
              {{ form.second }}
            </div>
          </div>
          

          <div class="span1 " style="text-align: center;">
            <div class="visible-phone">              
              <button type="submit" class="btn btn-success" data-method="calculate">=</button>
            </div>            
          </div>

          <div class="span3">
            <div id="calculator-result"  class="uneditable-input">{{ rpta }}</div>
          </div>
        </div>
      </form>

      </div>

    </div>

  </body>
</html>